<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Блог</title>
</head>
<body>
<header th:insert="blocks/header"></header>
<div class="container mt-5">
    <h1>Блог сайта</h1>
    <div th:each="element: ${post}" class="alert alert-info mt-2">
        <h3 th:text="${element.title}"></h3>
        <p th:text="${element.full_text}"></p>
        <p><b>Просмотры:</b> <span th:text="${element.views}"></span></p>
        <a th:href="'/blog/' + ${element.id} + '/edit'" class="btn btn-outline-primary">Редактировать</a><br><br>
        <form th:action="'/blog/' + ${element.id} + '/remove'" method="post">
            <button class="btn btn-outline-danger" type="submit">Удалить</button>
        </form>
    </div>
</div>

<footer th:insert="blocks/footer"></footer>
</body>
</html>